<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
        Default value for X-Frame-Options. Value can be DENY, SAMEORIGIN or empty. If empty no X-Frame-Options Header 
        will be sent. Site based configurations can override this setting.
      -->
      <setting name="ClickjackingProtection.DefaultXFrameValue" value="SAMEORIGIN" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="SitecoreExtension.ClickjackingProtection.Pipelines.httpRequestBegin.ClickjackingProtector, SitecoreExtension.ClickjackingProtection" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>